/* 旁边导航开始 */
.msidebar{
	top: 30%;
	right: 0.5%;
	width: 120px;
	position: fixed;
	transform: translateX(-50%);
	opacity: 0.5;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid rgba(73, 70, 70, 0.623);
	box-shadow: 0 0  50px #eee7e7ad;
}
.msidebar h5:hover{
	cursor: pointer;
}
.msidebar:hover{
	cursor: pointer;
	transition: 1s;
	opacity: 1;
}
.msidebar ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.msidebar ul li{
	border-radius: 5px;
	margin-top: 30px;
	text-align: center;
}

.msidebar ul li:hover{
	cursor: pointer;
}
.msidebar li.active{
	color: pink;
	background-color: rgb(233, 49, 162);
}
	/* 旁边导航结束 */


/* 加载开始 */
.loading {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100px;
	margin: auto;
	height: 100px;
	position: fixed;
}
/* end */


.loading p {
	margin: 0;
}

/* 加载结束 */
.mbody{
	display: none;
}

/* 其他用户上线提示 */
.login{
	top: 0;
	margin-left: 50%;
	transform: translateX(-50%);
}
/* 访客数量开始 */
.view{
	position: absolute;
	right: 100px;
	top: 100px;
}
/* end */


