.contact {
	display: flex;
	text-align: center;
}

.contact span {
	flex: 1;

}

.img-fluid:hover {
	transform: scale(3);
	transition: 0.5s;
}

.plan {
	position: absolute;
	top: 10%;
	left: 10%;
	font-size: 32px;
}

.person-info {
	display: flex;
}

.person-info span {
	flex: 1;
}

/* 角标 */
.con {
	overflow: hidden;
}

.m-nav {
	padding: 0;
}

.m-nav li {
	float: left;
}

.subscript {
	color: #fff;
	height: 30px;
	width: 100px;
	position: absolute;
	right: -30px;
	top: 5px;
	text-align: center;
	line-height: 30px;
	font-family: "黑体";
	background-color: #84837c;
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);

}

.img-close {
	right: 10px;
	top: 0.625rem;
}

.nav-item a {
	color: #535353;
}

.m-detail {
	background-color: #55ff7f;
}

html,
body {
	height: 100%;
	overflow: auto;
}

/* 移动端不显示 */
@media screen and (min-width: 500px) {

	/* 自定义滚动条 */
	body::-webkit-scrollbar {
		border-radius: 10px;
		-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
		background: #535353;
	}

	body::-webkit-scrollbar {
		/*滚动条整体样式*/
		width: 10px;
		/*高宽分别对应横竖滚动条的尺寸*/
		height: 1px;
	}

	body::-webkit-scrollbar-thumb {
		/*滚动条里面小方块*/
		border-radius: 10px;
		-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
		background: #535353;
	}

	body::-webkit-scrollbar-track {
		/*滚动条里面轨道*/
		-webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
		border-radius: 10px;
		background: #EDEDED;
	}
}

.bgimg {
	position: fixed;
	z-index: -1000;
	background-image: url(https://sixbyte.oss-cn-shanghai.aliyuncs.com/project/img/bgimg.jpg);
	width: 100%;
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.no-bgcolor {
	background-color: rgba(0, 0, 0, 0);
}


a,
#about:hover {
	cursor: pointer;
}
